<ion-view>
  <ion-header-bar class="bar bar-positive">
    <button class="button icon ion-ios-arrow-thin-left" ng-click="vm.goToMain()"></button>
    <h1 class="title">{{vm.texts.CATEGORY_READING}}</h1>
  </ion-header-bar>
  <ion-content id="reading-view" scroll="false">
    <ion-slide-box class="box-slides">
      <ion-slide ng-repeat="sentence in sentences">
        <label id="text" ng-class="{'positive' : listening}" ng-click="vm.listenAudio($index)">
          <span ng-repeat="word in sentence track by $index" class="{{result[$parent.$index][$index]}}">
            {{word}}
          </span>
          <i class="icon ion-android-volume-up"></i>
        </label>
        <img ng-src="img/{{vm.micType}}" ng-click="vm.speak($index)" ng-class="{'microphone' : !speaking, 'microphone-recording' : speaking}">
        <button class="button button-full button-positive" ng-show="$last"
                ng-click="vm.changeText()">
          {{vm.texts.CHANGE_TEXT}}
        </button>
      </ion-slide>
    </ion-side-box>
  </ion-content>
</ion-view>
