#classify-view {
  margin-top: 100px !important;
  margin-left: 10px !important;
  margin-right: 10px !important; }
  #classify-view .sentence {
    font-size: 22px;
    line-height: 105%;
    color: gray;
    text-align: center;
    margin-bottom: 15px; }
  #classify-view .options {
    margin-top: 70px; }
  #classify-view .box-slides {
    height: 100%; }
