<ion-side-menus enable-menu-with-back-views="false" title="center">
  <ion-side-menu-content>
  <ion-header-bar class="bar bar-positive" align-title="center">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    <h3 class="title">Eureka</h3>
  </ion-header-bar>
  <ion-view id="progress-view">
    <ion-content padding="true">
      <div style="color: orange;">
        <div class="profile-area">
          <img src="img/signal-gesture.png" class="signal-gesture" ng-show="!vm.knowsProfile"><br>
          <img src="{{vm.user.picture}}" class="picture" ng-click="vm.changeImage()">
        </div>
        {{vm.user.name}}
      </div>
      <div class="first-info row">
        <div class="col col-info" ng-click="vm.goToVocabList()">
          <div class="numbers-info">{{vm.learnedWords}}</div>
          {{vm.texts.LEARNED_WORDS}}
        </div>
        <div class="col col-info" ng-click="vm.goToLevelProgress()">
          <div class="numbers-info">{{vm.user.level}}</div>
          {{vm.texts.LEVEL}}
        </div>
        <div class="col col-info">
          <div class="numbers-info">{{vm.timeSpent}}</div>
          {{vm.timeFormat}}
        </div>
      </div>
      <div id="level-info">
        <div class="level-title">
          Progress so far
        </div>
        <canvas id="progress"></canvas>
      </div>
      <div id="friends-info">
        <div ng-show="vm.user.facebook"  ng-click="vm.shareEureka()">
          {{vm.texts.FRIENDS_INFO}}<br>
          {{vm.user.friends.length}}
          <i class="icon ion-android-share-alt"></i>
        </div>
        <div ng-show="!vm.user.facebook" ng-click="vm.facebookLogin()">
          <i class="connect-facebook icon ion-social-facebook"></i><br>
          {{vm.texts.CONNECT_INFO}}
        </div>
      </div>
      <div id="ranks-info" ng-show="vm.user.facebook">
        <div>{{vm.texts.LEADERBOARD_TITLE}}</div>
        <img src="img/first-place.png" class="price-first">
        <img ng-click="vm.getUserInfo(0)" src="{{vm.user.friends[0].picture}}" class="leaders-first">
        <img ng-click="vm.getUserInfo(1)"  src="{{vm.user.friends[1].picture}}" class="leaders-second">
        <img src="img/second-place.png" class="price-second">
        <img ng-click="vm.getUserInfo(2)"  src="{{vm.user.friends[2].picture}}" class="leaders-third">
        <img src="img/third-place.png" class="price-third">
        <img ng-show="$index > 2" ng-repeat="user in vm.user.friends | limitTo: (vm.additionalFriends)" src="{{user.picture}}"
          ng-class="{'leaders-second': $index%2 == 0, 'leaders-third' : $index%2 != 0}" ng-click="vm.getUserInfo($index)" >
        <img class="more-button" ng-show="vm.additionalFriends < vm.user.friends.length" src="img/more.png" ng-click="vm.getThreeMoreFriends()">
      </div>
      <div id="vocab-info">
        <div>{{vm.texts.VOCABULARY_INFO}} {{vm.user.level}}</div>
        <div class="row" ng-repeat="word in vm.vocabulary.leftColumn">
          <div class="col">
            -{{word.word}} <i ng-show="word.learned" class="icon ion-checkmark-round"></i>
          </div>
          <div class="col">
            -{{vm.vocabulary.rightColumn[$index].word}} <i ng-show="vm.vocabulary.rightColumn[$index].learned" class="icon ion-checkmark-round"></i>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
</ion-side-menu-content>
<ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content ng-controller="MainController">
      <div ng-include src="'app/sideview/sideview.html'"></div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
