#side-view {
  .settings {
    margin-top: 90%;
  }

  .options {
    font-size: 19px;
    margin-top: 9xpx;
    color: darkgray;
    border-color: white;
  }

  .profile {
    font-size: 21px;
    background-color: #FEA218;
    color: white;
    margin-bottom: 10px;
  }
}
