#classify-view {
  margin-top: 100px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;

  .sentence {
    font-size: 22px;
    line-height: 105%;
    color: gray;
    text-align: center;
    margin-bottom: 15px;
  }

  .options {
    margin-top: 70px
  }

  .box-slides {
    height: 100%;
  }
}