#profile-picture-view {
  text-align: center; }
  #profile-picture-view .picture {
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 7px;
    border: 1px solid orange; }
  #profile-picture-view .div {
    margin-left: 99px;
    margin-left: 1px; }
